*{margin:0;padding:0;box-sizing:border-box;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-weight:400;white-space:nowrap;margin:0;}
ul,li{list-style:none;}
/* font */
/* noto-sans-kr */
@font-face {
    font-display: swap; 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/noto-sans-kr-v36-korean-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/noto-sans-kr-v36-korean-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    
    src: url('../fonts/noto-sans-kr-v36-korean-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/noto-sans-kr-v36-korean-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-kr-v36-korean-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/noto-sans-kr-v36-korean-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  @font-face {
    font-display: swap;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-kr-v36-korean-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/noto-sans-kr-v36-korean-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
  }
  
  /* Material Symbols */
  @font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url("../fonts/materialsymbolsoutlined.woff2") format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  
  /* h1::before {content: "\e876";font-family:'Material Symbols Outlined';}
  h2::before{content:'\e5c7';font-family:'Material Symbols Outlined';}
  h3::before{content:'\e5c5';font-family:'Material Symbols Outlined';}
  h4::before{content:'\e645';font-family:'Material Symbols Outlined';}
  h5::before{content: "\e5cb";font-family:'Material Symbols Outlined';}
  h6::before{content: "\e5cc";font-family:'Material Symbols Outlined';} */