/* variables */
:root{
  --txt-family:'Noto Sans KR','Apple SD Gothic Neo','Malgun gothic','Helvetica','Dotum',sans-serif;
  --title_color:#202124;
  --txt_color:#5F6368;
  --blur_color:#A3ADC2;
  --primary_color:#4F378B;
  --secondary_color:#1F77C4;
  --bg_color:#F6F8FC;
  --header_icon_color:#94989E;
  --progress_color:#27A17A;
  --read_color:#EBEFF8;
}